.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    .content {
        padding: 32px;
        width: 400px;
        height: fit-content;
        background: var(--second-color);
        border-radius: 20px;
        margin-bottom: 20px;
        .error__message {
            color: var(--red);
        }
        .title {
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.5px;
            color: var(--white);
            margin-bottom: 32px;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 24px;
            .input__wrapper {
                position: relative;
                width: 100%;
                .input {
                    width: 100%;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 19px;
                    color: var(--white);
    
                    opacity: 0.5;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid #5A698F;
                    padding: 16px;
                    transition: 0.3s;
                    &:focus {
                        transition: 0.3s;
                        opacity: 1;
                        outline: none;
                        border-bottom: 2px solid var(--white);
                    }
                }

                .input__error {
                    @extend .input;
                    border-bottom: 2px solid var(--red);
                    
                }
                .error__wrapper {
                    top: 15px;
                    right: 0;
                    position: absolute;
                    .error {
                        color: var(--red);
                    }
                }
            }
            
            button {
                width: 336px;
                height: 48px;
                background: #FC4747;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                margin-top: 18px;
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 19px;
                text-align: center;
                color: var(--white);
                transition: 0.3s;
                &:hover {
                    transition: 0.3s;
                    background: var(--white);
                    color: var(--main-color);
                }

            }
        }
        p {
            text-align: center;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            color: #FFFFFF;
            margin-top: 24px;
          
            span {
                color: var(--red);
                
                cursor: pointer;
                
            }
        }
    }
}

@media(max-width:420px) {
    .wrapper {
        gap: 10px;
        margin-top: 30px;
        .content {
            padding: 10px;
            width: 100%;
        
            form {
                
                
                button {
                    width: 100%;
                    
    
                }
            }
            
        }
    }
}