<div class="wrapper">
    <div class="tabs__wrapper">
        <img class="logo" src="/assets/logo.svg" alt="">
        <div class="tabs">
            <app-home-svg class="tab" routerLink="/" [fill]="currentRoute==''? '#FFFFFF': '#5A698F'"></app-home-svg>
            <app-movies-svg class="tab" routerLink="/modes" [fill]="currentRoute=='movies'? '#FFFFFF': '#5A698F'"></app-movies-svg>
            <app-tv-svg class="tab" routerLink="/blogs" [fill]="currentRoute=='tv'? '#FFFFFF': '#5A698F'"></app-tv-svg>
            <app-bookmarked-svg class="tab" routerLink="/bookmarked" [fill]="currentRoute=='bookmarked'? '#FFFFFF': '#5A698F'"></app-bookmarked-svg>
        </div>
    </div>
    <div class="user" (click)="toggleSettingsMenu()" >
        <img src="/assets/image-avatar.png" alt="avatar">
        <div *ngIf="settingsMenu" class="settings-menu">
            <div class="menu-item" routerLink="/profile" (click)="toggleSettingsMenu()">Profile</div>
            <div class="menu-item" routerLink="/credits" (click)="toggleSettingsMenu()">Credits</div>
            <div class="menu-item" routerLink="/settings" (click)="toggleSettingsMenu()">Settings</div>
            <div class="menu-item" (click)="logout()">Log Out</div>
        </div>
    </div>
</div>